// Cores
$azul: #1B5AFF;
$azul-claro: #D1DEFF;
$preto: #202020;
$branco: #FFFFFF;
$cinza: #868686;
$cinza-claro: #F6F6F6;

// Fontes
$font-montserrat: "Montserrat", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

// Breakpoints
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1300px;
